.content
  .content__top
    .content__top__box
      
      .content__top__box__top
        aあaaaaaaaaaaaaaaa
      .content__top__box__bottom
        aaあ
    .content__top__edit
      Edit
      .content__top__edit__text
  .content__text
    .content__text__names
      .content__text__names___name
      aaaa
      .content__text__names__days
      20200202
    .content__text__messages
      aaaa
  .content__bottom
    .content__bottom__text
      aaaaaaa
      .content__bottom__text__img
        %label{class: "content__bottom__text__img__label"}
          = icon('fas', 'image')
          %input{type: "file",class:"content__bottom__text__img__label__input"}
    .content__bottom__send
      Send